
  .fields {
    display: block;
    min-width: 90%;
    margin: 1em;
    padding: 1em;
    width: 35em;
  }
  .heading p{
    padding-left: 10px;
  }
  .heading{
    font-weight: 800;
    font-size: larger;
    align-items: center;
    display: flex;
    align-items: center;
  }
  .back-arrow{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
  }
  .back-container{
    cursor: pointer;
    display: flex;
    height: 40px;
    background: gainsboro;
    align-items: center;
    margin-bottom: 20px;
  }
  .container{
    margin-left: 20px;
  }