
  .fields {
    display: block;
    min-width: 90%;
    margin: 1em;
    padding: 1em;
    width: 35em;
  }
  .heading p{
    padding-left: 10px;
  }
  .heading{
    font-weight: 800;
    font-size: larger;
    align-items: center;
    display: flex;
    align-items: center;
  }