.container {
  display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.formHolder{
  border: 1px solid #e1e4e8;
  box-shadow: 0 10px 20px rgba(0,0,0,.1),0 3px 6px rgba(0,0,0,.05);
  border-radius: 10px;
}